[Unit]
Description=immich web server
Documentation=https://github.com/immich-app/immich
Requires=immich-ml.service

[Service]
Type=simple
Restart=on-failure
UMask=0777

ExecStart=/bin/bash /immich/app/start.sh

SyslogIdentifier=immich-web
StandardOutput=append:/var/log/immich/web.log
StandardError=append:/var/log/immich/web.log

[Install]
WantedBy=multi-user.target
